# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea
smoothie-runner
smoothie-runner-cli
test
/protocol/smoothie-runner.pb.go
/protocol/runner/smoothie-runner.pb.go
/protocol/runner/smoothie-runner_grpc.pb.go
/protocol/test-data/test-data.pb.go
